<h2>Grab FB data</h2>
<%= link_to "FB login",@URL %>
<%= link_to "Show Groups",:controller => "auth",:action => "show_groups" %>
<%= link_to "Grab Pages", :controller => "auth", :action => "get_page" %>
